* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

/* Navbar */
nav {
  display: flex;
  background-color: chocolate;
  justify-content: space-around;
  padding: 20px 0;
  color: rgb(214, 207, 203);
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  /* background-color: blue; */
  width: 40%;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
}

nav ul li a:hover {
  color: rgb(29, 28, 27);
  cursor: pointer;
}
nav .logo {
  font-family: "Pacifico", cursive;
  letter-spacing: 3px;
}
.menu-togle {
  display: none;
}

/* Ukuran tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* Ukuran hp */
@media screen and (max-width: 576px) {
  /* Hamburger Menu */
  .menu-togle {
    display: flex;
    flex-direction: column;
    height: 20px;
    /* background-color: aquamarine; */
    justify-content: space-between;
    position: relative;
  }
  .menu-togle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    top: -3px;
    cursor: pointer;
    z-index: 2;
  }
  .menu-togle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(214, 207, 203);
    border-radius: 3px;
    transition: all 0.5s;
  }

  /* Animasi */

  .menu-togle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1.1px, 0.5px);
    transform-origin: 0 0;
  }
  .menu-togle input:checked ~ span:last-child {
    transform: rotate(-45deg) translate(-0.4px, 1.2px);
    transform-origin: 0 100%;
  }
  .menu-togle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
  }

  nav ul {
    position: absolute;
    right: 0;
    flex-direction: column;
    background-color: chocolate;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    height: 100vh;
    width: 70vw;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }
  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }
}
